.question {
    line-height: 60px;
    font-size: 48px;
}

.round-wrapper {
    max-width: 1000px;
}

mat-card {
    transition: 0.3s;
}

.background-green {
    background-color: darkgreen;
    color: white;
}
