<div class="d-flex flex-column h-100">
    <form class="flex-grow-0">
        <mat-form-field appearance="outline" color="primary" class="w-100">
            <input matInput [(ngModel)]="searchStr" name="username" />
            <mat-label>
                {{ 'general.user.username' | translate }}
            </mat-label>
            <button
                mat-icon-button
                color="primary"
                matSuffix
                [disabled]="!navigation.isLoadingIndicated && !searchStr.trim()"
                (click)="
                    results$ = user.findUsers$(searchStr);
                    lastEmittedStr = searchStr
                "
            >
                <mat-icon> search </mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div class="flex-grow-1">
        <ng-container *ngIf="lastEmittedStr !== undefined; else noSearchYet">
            <ng-container *ngIf="results$ | async as results; else searching">
                <ng-container *ngIf="results.length; else noResultsForStr">
                    <h2>
                        {{
                            'general.results.forStr'
                                | translate: { str: lastEmittedStr }
                        }}:
                    </h2>
                    <div class="row m-n2">
                        <div
                            class="p-2 col-12 col-md-6 col-xl-4"
                            *ngFor="let foundUser of results"
                        >
                            <mat-card
                                (click)="userSelected.emit(foundUser)"
                                class="d-flex"
                            >
                                <mat-icon
                                    [color]="
                                        ownId === foundUser.id
                                            ? 'accent'
                                            : 'primary'
                                    "
                                    class="my-auto mr-3 prominent-icon"
                                >
                                    person
                                </mat-icon>
                                <div class="my-auto">
                                    <strong>
                                        {{ foundUser.username }}
                                        <span
                                            *ngIf="foundUser.id === ownId"
                                            class="color-accent"
                                        >
                                            ({{ 'general.itsYou' | translate }})
                                        </span>
                                    </strong>
                                    <br />
                                    {{ foundUser.firstName }}
                                    {{ foundUser.lastName }}
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #searching>
    <div class="d-flex h-100">
        <div class="m-auto d-flex flex-column p-2">
            <mat-spinner class="mx-auto"></mat-spinner>
            <div class="mt-2 mx-auto">
                {{ 'general.results.searching' | translate }}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noResultsForStr>
    <div class="d-flex h-100">
        <div class="m-auto d-flex flex-column p-2">
            <mat-icon class="prominent-icon mx-auto">
                sentiment_very_dissatisfied
            </mat-icon>
            <div class="mt-2 mx-auto">
                <strong>
                    {{
                        'general.results.none'
                            | translate: { str: lastEmittedStr }
                    }}
                </strong>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noSearchYet>
    <div class="d-flex h-100">
        <div class="m-auto d-flex flex-column p-2 color-darkgrey">
            <mat-icon class="prominent-icon mx-auto"> find_in_page </mat-icon>
            <div class="mt-2 mx-auto">
                {{ 'general.results.noSearchYet' | translate }}
            </div>
        </div>
    </div>
</ng-template>
