<h1 class="color-primary">
    {{ 'main.dashboard.hello' | translate: currentUser }}
</h1>

<p class="mb-3">{{ 'main.dashboard.intro' | translate }}</p>

<mat-divider class="my-3"></mat-divider>

<div class="d-flex mb-2">
    <mat-icon class="flex-grow-0 my-auto mr-3"> quiz</mat-icon>
    <h2 class="m-0 flex-grow-1 my-auto">
        {{ 'main.dashboard.games.title' | translate }}
    </h2>
</div>

<app-games [currentUser]="currentUser"></app-games>

<div class="d-flex mt-3 mb-2">
    <mat-icon class="flex-grow-0 my-auto mr-3"> emoji_events </mat-icon>
    <h2 class="m-0 flex-grow-1 my-auto">
        {{ 'main.dashboard.yourRecord' | translate }}
    </h2>
</div>

<div class="row" *ngIf="record$ | async as record; else loading">
    <div class="col-xl-6 col-lg-8 col-12 mx-auto">
        <app-user-record [record]="record"></app-user-record>
    </div>
</div>

<ng-container *ngIf="finishedGames$ | async as finishedGames">
    <div class="mt-3" *ngIf="finishedGames.length">
        <div class="row m-n2">
            <div
                class="p-2 col-12 col-sm-6 col-md-4 col-xl-3"
                *ngFor="let game of finishedGames"
            >
                <mat-card
                    class="d-flex clickable"
                    mat-ripple
                    (click)="openFinishedGame(game)"
                    [class.color-primary]="game.gameResult === 'WIN'"
                    [class.color-warn]="game.gameResult === 'LOSS'"
                >
                    <app-overlapping-flags
                        [languageFrom]="game.learntLanguage"
                        [languageTo]="game.knownLanguage"
                    ></app-overlapping-flags>

                    <div class="m-auto text-center">
                        <div class="self-finished-rounds my-auto">
                            {{
                                'general.' + game.gameResult
                                    | lowercase
                                    | translate
                            }}
                        </div>
                        <div class="color-darkgrey my-auto">
                            {{ game.finishedTimestamp | date }}
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>

<div class="d-flex mt-3 mb-2">
    <mat-icon class="flex-grow-0 my-auto mr-3"> menu_book</mat-icon>
    <h2 class="m-0 flex-grow-1 my-auto">
        {{ 'main.dashboard.contributions.title' | translate }}
    </h2>
</div>

<ng-container *ngIf="ownImports$ | async as ownImports; else loading">
    <ng-container *ngIf="ownImports.length; else noImportedVocabulary">
        <p class="mb-2">
            {{ 'main.dashboard.contributions.message' | translate }}
        </p>
        <app-language-sets-accordion
            *ngIf="ownImports.length"
            [noElevation]="false"
            [currentUser]="currentUser"
            [displayImportedBy]="false"
            [languageSets]="ownImports | langSetsByVocabulary"
            (listSelected)="onVocabularyListSelected($event)"
            (itemDeleted)="ownImports$ = vocabulary.listsOfAuthor$(currentUser)"
        ></app-language-sets-accordion>
    </ng-container>
</ng-container>

<ng-template #noImportedVocabulary>
    <div class="m-3 color-darkgrey d-flex flex-column">
        <mat-icon class="mx-auto mb-2 prominent-medium-icon">
            menu_book
        </mat-icon>
        <span class="mx-auto">{{ 'general.noImportsYet' | translate }}</span>
    </div>
</ng-template>

<ng-template #loading>
    <div class="d-flex flex-column p-2">
        <mat-spinner class="mx-auto"></mat-spinner>
        <div class="mt-2 mx-auto">
            {{ 'general.results.loading' | translate }}
        </div>
    </div>
</ng-template>
