<div mat-dialog-title class="d-flex">
    <mat-icon class="my-auto mr-2"> person </mat-icon>
    <div class="my-auto">
        {{ user.firstName }}
        {{ user.lastName }}
        <span
            [ngClass]="
                currentUser?.id === user.id ? 'color-accent' : 'color-primary'
            "
        >
            ({{ user.username }})
        </span>
    </div>
</div>

<mat-dialog-content [@.disabled]="disableAnimation">
    <div class="d-flex">
        <mat-icon
            [color]="currentUser?.id === user.id ? 'accent' : 'primary'"
            class="my-auto mr-3 prominent-icon"
        >
            person
        </mat-icon>
        <div class="my-auto ml-n1">
            <strong>
                {{ user.username }}
                <span *ngIf="user.id === currentUser?.id" class="color-accent">
                    ({{ 'general.itsYou' | translate }})
                </span>
            </strong>
            <br />
            {{ user.firstName }}
            {{ user.lastName }}
            <br />
            <span class="color-darkgrey">
                {{ user.email }}
            </span>
        </div>
    </div>

    <div class="d-flex mt-4">
        <mat-icon class="my-auto mr-2"> menu_book </mat-icon>
        <h2 class="my-auto">
            {{ 'dialog.userDetails.importsBy' | translate: user }}
        </h2>
    </div>

    <mat-divider class="position-relative my-2"></mat-divider>

    <app-language-sets-accordion
        *ngIf="vocableLists?.length; else noImportedVocabulary"
        [languageSets]="vocableLists | langSetsByVocabulary"
        [currentUser]="currentUser"
        [showDelete]="false"
        (listSelected)="onListSelected($event)"
    >
    </app-language-sets-accordion>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button color="primary" mat-button mat-dialog-close>
        {{ 'general.close' | translate }}
    </button>
</mat-dialog-actions>

<ng-template #noImportedVocabulary>
    <div class="m-3 color-darkgrey d-flex flex-column">
        <mat-icon class="mx-auto mb-2 prominent-medium-icon"
            >menu_book</mat-icon
        >
        <span class="mx-auto">{{ 'general.noImportsYet' | translate }}</span>
    </div>
</ng-template>
