.page-container {
    max-width: 460px;

    .precondition {
        color: darkgray;
        transition: 0.3s;
        &.checked {
            color: darkgreen;
        }
    }

    .flags-wrapper {
        margin-top: 9px;
        margin-bottom: 9px;
    }
}
