<div *ngIf="record.wins + record.losses + record.draws; else noFinishedGames">
    <canvas
        baseChart
        [datasets]="[
            {
                data: [record.wins, record.losses, record.draws],
                backgroundColor: [
                    colorWin.backgroundColor,
                    colorLoss.backgroundColor,
                    colorDraw.backgroundColor
                ],
                borderColor: [
                    colorWin.borderColor,
                    colorLoss.borderColor,
                    colorDraw.borderColor
                ],
                hoverBackgroundColor: [
                    colorWin.hoverBackgroundColor,
                    colorLoss.hoverBackgroundColor,
                    colorDraw.hoverBackgroundColor
                ]
            }
        ]"
        [legend]="true"
        [labels]="[
            'general.wins' | translate,
            'general.losses' | translate,
            'general.draws' | translate
        ]"
        [options]="{ responsive: true }"
        [chartType]="'doughnut'"
    >
    </canvas>
</div>

<ng-template #noFinishedGames>
    <div class="m-3 color-darkgrey d-flex flex-column">
        <mat-icon class="mx-auto mb-2 prominent-medium-icon">
            emoji_events
        </mat-icon>
        <span class="mx-auto">{{ 'general.noFinishedGames' | translate }}</span>
    </div>
</ng-template>
