<div>
    <canvas
        baseChart
        [datasets]="[
            {
                data: [record.wins, record.losses, record.draws],
                backgroundColor: [
                    colorWin.backgroundColor,
                    colorLoss.backgroundColor,
                    colorDraw.backgroundColor
                ],
                borderColor: [
                    colorWin.borderColor,
                    colorLoss.borderColor,
                    colorDraw.borderColor
                ],
                hoverBackgroundColor: [
                    colorWin.hoverBackgroundColor,
                    colorLoss.hoverBackgroundColor,
                    colorDraw.hoverBackgroundColor
                ]
            }
        ]"
        [legend]="true"
        [labels]="[
            'general.wins' | translate,
            'general.losses' | translate,
            'general.draws' | translate
        ]"
        [options]="{ responsive: true }"
        [chartType]="'doughnut'"
    >
    </canvas>
</div>
