<div *ngIf="record$ | async as record; else loading">
    <canvas
        baseChart
        [datasets]="[
            {
                data: [record.wins, record.losses, record.draws],
                backgroundColor: [
                    colorWin.backgroundColor,
                    colorLoss.backgroundColor,
                    colorDraw.backgroundColor
                ],
                borderColor: [
                    colorWin.borderColor,
                    colorLoss.borderColor,
                    colorDraw.borderColor
                ],
                hoverBackgroundColor: [
                    colorWin.hoverBackgroundColor,
                    colorLoss.hoverBackgroundColor,
                    colorDraw.hoverBackgroundColor
                ]
            }
        ]"
        [legend]="true"
        [labels]="[
            'general.wins' | translate,
            'general.losses' | translate,
            'general.draws' | translate
        ]"
        [options]="{ responsive: true }"
        [chartType]="'doughnut'"
    >
    </canvas>
</div>

<ng-template #loading>
    <div class="d-flex flex-column p-2">
        <mat-spinner class="mx-auto"></mat-spinner>
        <div class="mt-2 mx-auto">
            {{ 'general.results.loading' | translate }}
        </div>
    </div>
</ng-template>
