<h1 matDialogTitle>{{ 'header.actions.language' | translate }}</h1>

<mat-dialog-content>
    <p>{{ 'general.i18nText' | translate }}</p>

    <div
        *ngFor="let language of i18n.supportedLanguages"
        [mat-dialog-close]="language"
        [class.selected]="i18n.currentLanguageIso === language.iso"
        class="d-flex language mx-n2"
        mat-ripple
    >
        <div
            class="flag-icon-background m-2 flag-icon-squared {{
                language.iso | uppercase | flagForLang
            }}"
        ></div>
        <div class="my-auto flex-grow-1">
            {{ language.name }}
        </div>
        <mat-icon class="my-auto m-2" color="primary">
            {{
                i18n.currentLanguageIso === language.iso
                    ? 'check_circle'
                    : 'panorama_fish_eye'
            }}
        </mat-icon>
    </div>
</mat-dialog-content>
